<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<BODY LANG="en-US" DIR="LTR">
<P STYLE="margin-bottom: 0in"><h4>I am a current student in Santa Clara
University studying for my Master's degree in Computer Engineering
and Electrical Engineering. I always want to be a life-long learner.
I am a good team player. It is a wonderful thing to work with smart
people and learn from them. As a strong self-motived person, I have
clear goals almost everyday. Positive and optimistic is my motto.
Enthusiasm is one of my personalities. Also I really like to conquer
different challenges. I believe that before you get your chance you
need to be well-prepared.</h4> 
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><h4>For my own interests, I taught myself
Python, Django, Github, HTML, CSS, JavaScript, jQuery, PHP,
SystemVerilog and R. GitHub and StackOverflow have made the learning
process so much easier and fun. So I really want to be a part of the
community and help other new programmers.</h4></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><h5>I live in Santa Clara, California.</h5> 
</P>
</BODY>
</HTML>