<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shaun Wei Personal Website</title>
    {%load staticfiles %}
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">


    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css'%}" ref="stylesheet">
    <link href="{% static 'css/docs.css' %}" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">  

<!-- ===================================Navbar================================================ -->
  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Xiao Wei Website</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="http://django-website.herokuapp.com/">Home</a></li>
              <li><a href="http://flask-taskr.herokuapp.com/users/">Project:Python Flask</a></li>
              <li><a href="http://django-rapidwebdev.herokuapp.com/">Project:Python Django</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<!-- ========================================Subhead =================================-->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Welcome</h1>
    <h3>Thanks for your visit. This is Xiao Wei's website</h3>
<!-- 		<p class="lead">Reach me on<a href="#">Github</a></p>
    <p class="lead">Welcome to Xiao Wei's website</p>
 -->	</div>
</header>


<div class="container-fluid">

	<!-- Docs nav=============================================== -->
	<div class="row-fluid">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav affix">
				<li><a href="#whats-new"><i class="icon-chevron-right"></i> News</a></li>
        <li><a href="#about"><i class="icon-chevron-right"></i> About</a></li>
				<li><a href="#cs-resume"><i class="icon-chevron-right"></i> CS resume</a></li>
				<li><a href="#ee-resume"><i class="icon-chevron-right"></i> EE resume</a></li>
        <li><a href="#current-interests"><i class="icon-chevron-right"></i> Current Interests</a></li>
        <li><a href="#related-links"><i class="icon-chevron-right"></i> Related Links</a></li>
			</ul>
		</div>

	<div class="span9">

		<!-- what's new -->
		<section id="whats-new">
			<div class="hero-unit">
				<h1>Available for Hiring</h1>
        <h2>Give me one chance, I will prove myself</h2>
				<p>Optimistic & Enthusiasm & self-motivated</p>
				<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
			</div>
		</section>

    <!-- About -->
    <section id="about">
      <div class="page-header">
        <h1>1. About</h1>
      </div>
      <!-- <p class="lead">this is text here</p> -->
      {% include 'about.html' %}
    </section>


		<!-- CS resume  -->
		<section id="cs-resume">
			<div class="page-header">
				<h1>2. Computer Engineering Resume</h1>
			</div>
			<!-- <p class="lead">this is text here</p> -->
			{% include 'ResumeCS.html' %}
		</section>

		<!-- EE resume  -->
		<section id="ee-resume">
			<div class="page-header">
				<h1>3. Electronic Engineering Resume</h1>
			</div>
			<!-- <p class="lead">this is text here</p> -->
      {% include 'ResumeEE.html' %}
		</section>

    <!-- Current Interests -->
    <section id="current-interests">
      <div class="page-header">
        <h1>4. Current Interests</h1>
      </div>
      {% include 'interests.html' %}
    </siction>

    <!-- Related Links -->
    <section id='related-links'>
      <div class="page-head">
        <h1>5. Related Links</h1>
      </div>
      {% include 'relatedlinks.html' %}
    </section>

	</div>
</div>
</div>




		<!-- Footer==================================================== -->
		<footer class="footer">
			<div class="container">
				<p>Powered by Django, Bootstrap</p>
			</div>
		</footer>


	  <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/transition.js' %}"></script>
    <script src="{% static 'js/alert.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/scrollspy.js' %}"></script>
    <script src="{% static 'js/tab.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>
    <script src="{% static 'js/popover.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/collapse.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/typeahead.js' %}"></script>
    <script src="{% static 'js/affix.js' %}"></script>
    <script src="{% static 'js/holder.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>
    <script src="{% static 'js/widgets.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

	</body>
</html>