<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<BODY LANG="en-US" TEXT="#00000a" LINK="#0000ff" DIR="LTR">

<P CLASS="western" STYLE="margin-bottom: 0in"><U><B>OBJECTIVE</B></U><FONT FACE="宋体, SimSun, serif"><U><B>:</B></U></FONT><FONT FACE="宋体, SimSun, serif">
</FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.29in; margin-bottom: 0in">
<h4>Internship that can involve ASIC/FPGA test &amp;verification
or VLSI design &amp;test.</h4> 
</P>
<br/>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><U><B>TAKEN
COURSES:</B></U>  										</P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Linear
	Control System, Communication, information Security Management</P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><B>VLSI
	Design I, VLSI Design II</B>, VLSI Physical Design</P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><B>Design
	For Testability</B>, <B>Modern Time Analysis 				 </B>
	</P>
</UL>
<P CLASS="western" STYLE="margin-top: 0.04in; margin-bottom: 0in"><U><B>SKILLS:</B></U></P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Solid
	understanding of VLSI fundamentals (<B>CMOS integrated circuit,
	Combinational Logic, Sequential Logic, RTL, Memory </B>) 
	</P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Solid
	understanding of Circuit Analysis ( <B>Static Timing Analysis, SSTA,
	Timing Analysis  Algorithm, Placement and Routing Algorithm, DFT,
	ATPG, BIST, memBIST, Scan Test, Memory Test</B> )</P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Good
	understanding of Circuit Design ( Combinational Logic circuit
	design, Sequential Logic circuit design, Static Logic circuit
	design, Dynamic Logic circuit design, LFSR,  <B>Memory Design</B>)</P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Software:
	<B>Mentor Graphics IC studio</B>, <B>Synopsys VCS</B>, <B>Matlab</B>,
	eclipse, Visual C++, Multisim, Prote199, Altium Designer, Auto CAD,
	Lattice Diamond.</P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Programming
	language: <B>Verilog HDL</B>(proficient), <B>C++</B>(proficient),
	<B>Matlab </B>(proficient), C (prior experience), Java (prior
	experience), and Assembly (prior experience).</P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><U><B>PROJECTS:</B></U></P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">0.35um
	Gate-level COMS logic circuit design, testing &amp;simulation
	&amp;layout</P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.83in; margin-bottom: 0in">
Designed 4bit Dynamic CLA Adder &amp; 4bit 6T SRAM including
surrounding circuitry.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.83in; margin-bottom: 0in">
Sizing transistors and implemented circuits of certain function. 
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.83in; margin-bottom: 0in">
Given test patterns, verify its functionality. Based on Signal
Waveform to do circuit analysis. Using schematic to do layout under
software Mentor Graphics IC studio.</P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">RISC
	ALU design 
	</P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.83in; margin-bottom: 0in">
Based on ALU architecture and specification to design, implement,
test and verify using Verilog HDL complier VCS. Routing analysis and
timing analysis using Lattice Diamond.</P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Linear
	system analysis (including controllability, observability, stability
	and feedback control laws design) 
	</P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.83in; margin-bottom: 0in">
Based on system states equations to solve the system under Matlab.</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><U><B>EDUCATION:</B></U></P>
<P CLASS="western" STYLE="margin-left: 0.29in; margin-bottom: 0in"><B>Sep.2007
– Jun. 2011:  </B>Nanjing University of Science &amp; Technology in
P. R. of China<B>          </B>
</P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Received
	BS Degree in Electronics</P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.29in; margin-bottom: 0in">
<B>Jan.2013 – now:  Santa Clara University </B> 	   							    	</P>
<UL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Major:
	Electrical Engineering, focusing on Digital VLSI Design &amp; Test</P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Expecting
	a Master’s Degree in Electronics in 2014                    
	</P>
</UL>
<DIV TYPE=FOOTER>
	<P ALIGN=RIGHT STYLE="margin-top: 0.02in; margin-bottom: 0in"><FONT COLOR="#5b9bd5">
	</FONT><BR>
	</P>
	<P STYLE="margin-bottom: 0in"><BR>
	</P>
</DIV>
</BODY>
</HTML>